.upload-details__container{
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    margin-top: 6.4rem;
}
.upload-details__container > img{
    width: 100%;
    object-fit: cover;
}
.upload-details__form{
    width: 100%;
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: start;
    margin: 1.5rem 0;
    padding: 0 1rem;
}
.upload-details__textarea{
    outline: none;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    padding: 0.5rem 0 0.5rem 1.5rem;
}

.upload-details__textarea:empty::before{
    content: 'Write a caption...';
    color: var(--color__border-active);
}