.screen__profile{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    align-items: center;
}

.screen__profile .profile-container{
    --num_of_items: 0;
    --num_of_rows: 0;
    --row-height: 0px;
    --gap: 0.2rem;
    --item_per_row: 3;
    --num_of_gaps: calc(var(--num_of_rows) - 1);
    --total_gap_length: calc(var(--num_of_gaps) * var(--gap));
    --total_gap_length_horizontal: calc(calc(var(--item_per_row) - 1) * var(--gap));

    max-width: 700px;
    width: 100%;
    display: grid;
    transition: var(--default__transition);
    grid-template: auto
    calc(calc(calc(var(--row-height) * var(--num_of_rows)) - var(--total_gap_length)) / var(--num_of_rows)) / 
    repeat(3, calc(calc(100% - var(--total_gap_length_horizontal)) / var(--item_per_row))) ;
    gap: var(--gap);
    padding: 1rem 0 2rem 0;
}

.screen__profile .explore-feed-item{
    width: 100%;
    max-width: var(--row-height);
    height: 100%;
    overflow: hidden;
}

@media only screen and (min-width: 750px) {
    .screen__profile .profile-container{
        padding: 1rem 0 5rem 0;
        --gap: 2rem;
    }
}